<!DOCTYPE html>
<html lang="en">
<head>
    <script type"text/javascript", src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#btn_edit").click(function(){
                var url = window.location.href.split("/");
                var id = url[url.length - 2];
                var api_url = "http://" + window.location.host + "/api/Todo/" + id + "/";
                $.ajax({
                    type: 'PUT',
                    url: api_url,
                    data: $("#form_edit").serialize(),
                    success: function(result){
                        alert("Edit success");
                        location.href = "http://" + window.location.host + "/todolist/";
                    }
                });
            });
        });
    </script>

    <meta charset="UTF-8">
    <title>Edit To Do List</title>
</head>
<body>
    <h2>Edit To Do List</h2>
    <p>Editing Todo by api server</p>
    <form id="form_edit">
    Task: <input type="text" name="task" value={{data.task}}><br>
    Status: <input type="text" name="status" value={{data.status}}><br>
    Priority: <input type="text" name="priority" value={{data.priority}}><br>
    Due Date: <input type="text" name="due_date", placeholder="yyyy-mm-dd" value={{data.due_date}}><br>
    Note: <input type="text" name="note" value={{data.note}}><br>
    <input type="button" id="btn_edit" value="EDIT">
    </form>
</body>
</html>