<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            padding: 5px;
        }
        table {
            border-spacing: 15px;
        }
    </style>

    <script type"text/javascript", src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var api_url = "http://" + window.location.host + "/api/Todo/";
            $.ajax({
                type: 'GET',
                url: api_url,
                success: function(result){
                    result.forEach(function(element){
                        $("#table").append(
                            '<tr><td>'+ element.id + '</td>' +
                            '<td>' + element.task + '</td>' +
                            '<td>' + element.status + '</td>' +
                            '<td>' + element.priority + '</td>' +
                            '<td>' + element.due_date + '</td>' +
                            '<td>' + element.note + '</td>' +
                            '<td>' + element.last_modify + '</td>' +
                            '<td>' + element.create_time + '</td>' +
                            '<td><button type="button" class="edt" name="' + element.id + '">Edit</button></td>' +
                            '<td><button type="button" class="del" name="' + element.id + '">Delete</button></td></tr>'
                        );
                    });
                    $("button.edt").click(function(){
                        console.log("1");
                        location.href = "http://" + window.location.host + "/todolist/edit/" + $(this).attr("name") + "/";
                    });

                    $("button.del").click(function(){
                        var api_url = "http://" + window.location.host + "/api/Todo/" + $(this).attr("name") + "/";
                        $.ajax({
                            type: 'DELETE',
                            url: api_url,
                            success: function(result){
                                location.reload();
                            }
                        });
                    });
                }
            });

            $("#btn_add").click(function(){
                if ($("#task").val() == "" || $("#due_date").val() == ""){
                    alert("Task and Due Date can't be blank");
                } else {
                    var patt = /([0-9]{4})-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01])/;
                    if (!patt.test($("#due_date").val())) {
                        alert("Due_date isn't correct");
                    } else {
                        $.ajax({
                            type: 'POST',
                            url: api_url,
                            data: $("#form_add").serialize(),
                            success: function(result){
                                alert("Add success");
                                location.reload();
                            }
                        });
                    };
                };
            });
        });
    </script>

    <meta charset="UTF-8">
    <title>Django To Do List</title>
</head>
<body>
    <h2>Django To Do List</h2>
    <p>Todo List</p>
    <table id="table" style="width:100%">
        <tr>
            <th>ID</th>
            <th>Task</th>
            <th>Status</th>
            <th>Priority</th>
            <th>Due Date</th>
            <th>Note</th>
            <th>Last Modify Time</th>
            <th>Create Time</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </table>
    <br><br>

    <h2>Add ToDo</h2>
    <p>Adding Todo by api server</p>
    <form id="form_add">
    Task: <input type="text" name="task" id="task"><br>
    Status: <input type="text" name="status" id="status"><br>
    Priority: <input type="text" name="priority" id="priority"><br>
    Due Date: <input type="text" name="due_date", placeholder="yyyy-mm-dd" id="due_date"><br>
    Note: <input type="text" name="note" id="note"><br>
    <input type="button" id="btn_add" value="ADD">
    </form>
</body>
</html>